
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 20px;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


.btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
